*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}

body{
    background: rgb(42, 37, 44);
    color: rgb(243,217,220);
    overflow:hidden;
    overflow-y: scroll;
}